body{
    background-color: rgb(255, 255, 255);
}

.wrapper {
   width: 85%;
   background-color: rgb(71, 69, 69);
   margin: 0 auto;
}

/* HEADER */

header{
    display: flex;
    background-color:rgb(39, 86, 117);
}

.Info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    font-size:21;
    align-items: center;
    color: white;
    font-weight: 900px;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    color: white;
    border: 1px solid;
}

.header_logo {
    width: 20%;
    height: 60%;
}
img{
    width: 100%;
    height: 200px;
}

.number {
    width: auto;
}

/* NAVIGATION */

nav{
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 0 auto;   
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;

}

li{
    width: 100%;
    list-style-type: none;
    border: 3px solid;
    text-align: center;
    margin: 0 auto;
    font-size: 19px;
    border-radius:10px 10px;
    background-color: rgb(255, 255, 255);
}

/*HEADING*/
h1{
    background-color:rgb(39, 86, 117);
    text-align: center;
    color: white;
    font-size: 40px;
}


/* CARDS */

h2{
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
} 

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150px;
    flex-grow: 1;
    /* border: 3px solid; */
    border-color:rgb(39, 86, 117) ;
}

.img{
    align-self: center;
    width:90%;
}

.text{
    font-size: 18px;
    color:white;
    align-self: center;
    text-align: justify;
    width: 75%;
    flex: 1 1 auto;
}

.button{
    margin-top:10%;
    border: 3px solid;
    font-size: 19px;
    border-radius: 10px 10px;
    border-color: blue;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: white;    
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.gallery-images {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.gallery-heading {
    width: 100%;
    text-align: center;
    color: white;
}

.gallery-img {
    width: auto;
    border: 5px solid rgb(39, 86, 117);
    margin: 0 auto;
    /* height: 250px; */
    padding: 20px;
}

/* FOOTER */

footer{
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    background-color:rgb(39, 86, 117); 
}

.leftFoot {
    border: 3px solid;
    border-radius:10px 10px;
    border-color: blue;
    background-color: white;
    margin: 0 auto;
   
}

.middleFoot {
    border: 3px solid;
    border-radius:10px 10px;
    border-color: blue;
    background-color: white;
    margin: 0 auto;
    
}

.rightFoot {
    border: 3px solid;
    border-radius:10px 10px;
    border-color: blue;
    background-color: white;
    margin: 0 auto;
    
}